<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" href="css/blokus.css">
    <link rel="stylesheet" href="css/ui-page.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>

<body>
<!-- <button onclick="test()">this is button</button> -->
<div class="page-head">
    <h1>blokus</h1>
    <!--head-->
</div>
<div id="page-main" class="page-main">
    <div v-show="show===1" class="blokus-panel">
        <div v-bind:class="{'content-main-two':blokusPanel.twoPeople}" class="content-main">
            <div class="content-left">
                <div class="time-box">
                    <div>时间</div>
                </div>
                <button class="button-custom" onclick="rotation()">旋转</button>
                <button class="button-custom" onclick="symmetry()">对称</button>
                <button class="button-custom" @click="giveUp()">认输</button>
                <button class="button-custom" @click="backToRoomPanel()">返回</button>
            </div>

            <div class="chessboard"></div>
            <input name="content-right-radio" id="content-right-radio-1" checked="checked" type="radio"
                   class="custom-hide"/>
            <div class="content-right-1">
            </div>
            <input name="content-right-radio" id="content-right-radio-2" type="radio" class="custom-hide"/>
            <div class="content-right-2">
            </div>
            <input name="content-right-radio" id="content-right-radio-3" type="radio" class="custom-hide"/>
            <div class="content-right-3">
            </div>
            <input name="content-right-radio" id="content-right-radio-4" type="radio" class="custom-hide"/>
            <div class="content-right-4">
            </div>


            <!--<div class="content-left">-->
            <!--<button class="button-custom" onclick="rotation()">旋转</button>-->
            <!--<button class="button-custom">对称</button>-->
            <!--</div>-->

            <!--<lable class="custom-hide" for="content-right-radio-1"></lable>-->
            <!--<lable class="custom-hide" for="content-right-radio-2"></lable>-->
            <!--<lable class="custom-hide" for="content-right-radio-3"></lable>-->
            <!--<lable class="custom-hide" for="content-right-radio-4"></lable>-->
        </div>
    </div>

    <div v-show="show===2" class="room-panel">
        <div class="room-main">
            <div class="room-left-content">
                <div class="block-top"><!--style="display: none;"-->
                    <div class="prompt-text">请选择颜色</div>
                    <div class="color-button-box">
                        <button class="color-button-green" onclick="chooseColor(2)"></button>
                        <button class="color-button-blue" onclick="chooseColor(1)"></button>
                        <button class="color-button-red" onclick="chooseColor(3)"></button>
                        <button class="color-button-yellow" onclick="chooseColor(4)"></button>
                    </div>
                </div>
                <div class="block-bottom">
                    <div class="padding-c">

                        <button class="menu-button-custom" onclick="ready()">
                            开始
                        </button>
                        <button class="menu-button-custom" @click="backToRoomListPanel()">
                            返回
                        </button>
                    </div>
                </div>
            </div>

            <div class="room-right-content">
                <div class="block-top">
                    <table id="roomPlayersInfo" class="player-choose-info">
                        <tr>
                            <th colspan="3">{{roomPlayersInfo.roomName}}</th>
                        </tr>
                        <tr>
                            <th>名字</th>
                            <th>选择颜色</th>
                            <th>准备状态</th>
                        </tr>
                        <tr v-for="item in roomPlayersInfo.items">

                            <td>{{ item.account }}</td>
                            <td>{{ item.color }}</td>
                            <td>{{ item.isReady }}</td>

                        </tr>
                    </table>
                </div>
                <div class="block-bottom"></div>
            </div>
        </div>

    </div>

    <div v-show="show===3" class="room-list-panel">
        <div class="room-main">
            <div class="room-left-content">
                <div class="padding-c">
                    <input placeholder="输入房间名字" class="input-text-custom" id="create-room-name"/>

                    <div class="game-type" v-bind:class="{'game-type-choose':roomList.twoPeople}"
                         @click="chooseTwo(true)">双人
                    </div>
                    <div class="game-type" v-bind:class="{'game-type-choose':!roomList.twoPeople}"
                         @click="chooseTwo(false)">四人
                    </div>

                    <button onclick="sureCreateRoom()" class="menu-button-custom">创建房间</button>
                    <button class="menu-button-custom" @click="logout()">退出登录</button><!--onclick="sureCreateRoom()"-->
                </div>
                <!--<button >xx</button>-->

            </div>
            <div class="room-right-content">
                <div class="room-list-head">
                    房间列表
                </div>
                <div id="room-list">
                    <div v-for="room in roomList.rooms" class="room-info-box" @click="joinRoom(room.roomName)">
                        <div style=" width: 50%;">{{ room.roomName }}</div>
                        <div style=" width: 20%">{{ room.currentPlayerCount }}/{{room.maxPlayerCount}}</div>
                        <div style=" width: 30%">{{ room.roomStatus }}</div>
                    </div>
                    <!--<div class="room-info-box"></div>-->
                    <!--<div class="room-info-box"></div>-->
                    <!--<div class="room-info-box"></div>-->
                </div>

            </div>

        </div>
    </div>

    <div v-show="show===4" class="login-panel">
        <div class="room-main">

            <div class="login-main">

                <input id="account" style="margin-top: 30%" type="text" placeholder="输入账号" class="login-input"/>
                <input id="password" type="password" placeholder="输入密码" class="login-input"/>
                <div class="login-button" onclick="sureLogin()">登录</div>
            </div>

        </div>
    </div>

    <div class="prompt-panel" v-bind:class="{'custom-hide':!promptPanel.showPrompt}">
        <div class="prompt-div">
            <div class="prompt-text-div"> {{promptPanel.promptMsg}}</div>
        </div>
    </div>


</div>


<!--<script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>-->
<script src="vendor/jquery190.min.js"></script>
<script src="vendor/vue108.min.js"></script>
<!--<script src="js/two.js"></script>-->
<script src="js/online-version-2/BlokusCore.js"></script>
<script src="js/online-version-2/BlokusController.js"></script>
<script src="js/network/MessageFomatter.js"></script>
<script src="js/online-version-2/BlokusUIController.js"></script>
<script src="js/online-version-2/GameUIController.js"></script>
<script src="js/network/Network.js"></script>
<script src="js/online-version-2/BlokusBootstrap.js"></script>

</body>

</html>
