.page-head {
    text-align: center;
    min-height: 50px;
    width: 100%;
}

body {
    background-color: lightgrey;
}

.page-main {
    width: 100%;
}

.blokus-panel {
    width: 100%;
}

.content-main {
    width: 2458px;  /*1458px;*/
    height: 840px;
    margin: 0 auto;
}

.content-main-two {
    width: 2168px;   /*1168px;*/
}

.chessboard {
    width: 840px;
    height: 840px;
    border: 1px solid #959a9a;
    margin: 0 auto;
    /*float: left;*/
    background-color: #b6b7b9;
}

.current-color-1 {
    border: none;
    width: 120px;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: blue;
}

.current-color-2{
    border: none;
    width: 120px;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: green;
}

.current-color-3{
    border: none;
    width: 120px;
    height: 100px;
    margin: 0 auto;

    border-radius: 15px;
    background-color: red;
}

.current-color-4{
    border: none;
    width: 120px;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: yellow;
}

.border-1{
    border: 4px solid blue;
}

.border-2{
    border: 4px solid green;
}

.border-3{
    border: 4px solid red;
}

.border-4{
    border: 4px solid yellow;
}

.color-1{

}


.chess-box {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #959a9a;
}

.chess-box-game {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #959a9a;
}

.chess-box-inner-1 {
    width: 10px;
    height: 10px;
    border-radius:15px;
    margin: 15px  auto;
    background-color: blue;
}

.chess-box-inner-2 {
    width: 10px;
    height: 10px;
    border-radius:15px;
    margin: 15px  auto;
    background-color: green;
}

.chess-box-inner-3 {
    width: 10px;
    height: 10px;
    border-radius:15px;
    margin: 15px  auto;
    background-color: red;
}

.chess-box-inner-4 {
    width: 10px;
    height: 10px;
    border-radius:15px;
    margin: 15px  auto;
    background-color: yellow;
}


.chess-box-hide {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
}

/*.chess {*/
/*    !*padding: -1px;*!*/
/*    border-radius: 7px;*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    !*border: 1px solid green;*!*/
/*    background-color: green;*/
/*    margin: -1px -1px;*/
/*}*/

.chess-1 {
    /*padding: -1px;*/
    border-radius: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    background-color: blue;
    margin: -1px -1px;
}

.chess-2 {
    /*padding: -1px;*/
    border-radius: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid green;
    background-color: green;
    margin: -1px -1px;
}

.chess-3 {
    /*padding: -1px;*/
    border-radius: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid red;
    background-color: red;
    margin: -1px -1px;
}

.chess-4 {
    /*padding: -1px;*/
    border-radius: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid yellow;
    background-color: yellow;
    margin: -1px -1px;
}

.custom-hide {
    display: none;
}

input:checked + div {
    display: block;
}

.content-right-1 {
    width: 880px;  /*width: 247px;*/
    height: 840px;
    border: 1px solid green;
    background-color: white;
    margin-left: 25px;
    float: left;
    margin-bottom: 100px;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.content-right-2 {
    width: 880px;  /*width: 247px;*/
    height: 840px;
    border: 1px solid green;
    background-color: white;
    margin-left: 25px;
    float: left;
    margin-bottom: 100px;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.content-right-3 {
    width: 880px;  /*width: 247px;*/
    height: 840px;
    border: 1px solid green;
    background-color: white;
    margin-left: 25px;
    float: left;
    margin-bottom: 100px;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.content-right-4 {
    width: 880px;  /*width: 247px;*/
    height: 840px;
    border: 1px solid green;
    background-color: white;
    margin-left: 25px;
    float: left;
    margin-bottom: 100px;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.content-left {
    width: 247px;
    height: 840px;
    border: 1px solid green;
    background-color: white;
    margin-right: 25px;
    padding: 10px;
    /*margin-top: 250px;*/
    float: left;
    border-radius: 5px;

}

.choose-chess-button {
    width: 210px;
    height: 210px;
    border: 1px solid green;
    background-color: #b6b7b9;
    /*margin-left: 25px;*/
    margin: 1px 1px; /* margin: 10px auto;*/
    float: left;
    /*overflow: hidden;*/
    /*-webkit-animation: spin 2s linear infinite;*/
    /*animation: spin 2s linear infinite;*/
}

.choose-chess-button-relative {
    position: relative;
    width: 210px;
    height: 210px;
    background-color: transparent;
    top: -0px;
    /*margin-top: -212px;*/
    /*background-color: chocolate;*/
    left: -210px;
    float: left
}

.chess-choose-box {
    width: 210px;
    height: 210px;
    /*margin-top: -212px;*/
    cursor: pointer;
}

.button-custom {
    /*background-color: #4CAF50; !* Green *!*/
    border: none;
    color: royalblue;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 12px 28px;
    font-family: Verdana, Genva, Arial, sans-serif;
    font-size: 20px;
    font-style: inherit;
    /*font-weight:bold;*/
    font-weight: bold;
    cursor: pointer;

}

.time-box {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    border: 1px solid red;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.button-custom:hover {
    background-color: mediumslateblue; /* Green */
    color: darkslategray;
}

[rotation=custom-rotation-0] {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

[rotation=custom-rotation-1] {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

[rotation=custom-rotation-2] {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

[rotation=custom-rotation-3] {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

[symmetry=custom-symmetry-0] {
    /*-webkit-transform: scale(-1,1);*/
    /*-o-transform: scale(-1,1);*/
    /*transform: scale(-1,1);*/
}

[symmetry=custom-symmetry-1] {
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}




#game-panel{
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    margin: 4px;
    padding: 2px;
    min-height: 50%;
}











