.page-head {
    text-align: center;
    min-height: 50px;
    width: 100%;
}

body {
    background-color: lightgrey;
}

.page-main {
    width: 100%;
}

.content-main {
    width: 1350px;
    height: 840px;
    margin: 0 auto;
}

.chessboard {
    width: 840px;
    height: 840px;
    border: 2px solid red;
    margin: 0 auto;
    float: left;
}

.chess-box {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.chess {
    /*padding: -1px;*/
    border-radius: 7px;
    width: 38px;
    height: 38px;
    border: 1px solid green;
    background-color: green;
}

.content-right {
    width: 230px;
    /*height: 140px;*/
    border: 1px solid green;
    background-color: white;
    margin-left: 25px;
    float: left ;
    margin-bottom: 100px;

}


/*.content-left {*/
    /*width: 150px;*/
    /*height: 640px;*/
    /*border: 1px solid green;*/
    /*background-color: white;*/
    /*margin-right: 25px;*/
    /*float: bottom ;*/
    /*padding: 10px;*/
    /*margin-top: 250px;*/

/*}*/

.choose-chess {
    width: 210px;
    height: 210px;
    border: 1px solid green;
    background-color: cornflowerblue;
    /*margin-left: 25px;*/
    margin: 10PX auto;
}


/*.button-rotation{*/
    /*background-color: #4CAF50; !* Green *!*/
    /*border: none;*/
    /*color: white;*/
    /*padding: 15px 32px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
/*}*/

.button-custom{
    /*background-color: #4CAF50; !* Green *!*/
    border: none;
    color: royalblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    margin-right: 25px;
}

.button-custom:hover {
    background-color: mediumslateblue; /* Green */
    color: darkslategray;
}